{% extends 'base.html.twig' %}

{% block title %}Planètes{% endblock %}

{% block body %}

<!-- Header-->
<header class="bg-dark py-1">
	<div class="container px-4 px-lg-5 my-5">
		<div class="text-center text-white">
			<h1 class="display-4 fw-bolder">Planètes</h1>
			<p class="lead fw-normal text-white-50 mb-0">{{ region|length }} planète{% if region|length > 1 %}s{% endif %} actuellement disponible{% if region|length > 1 %}s{% endif %}.</p>
		</div>
	</div>
</header>

<section class="py-5">
    <div class="container px-4 px-lg-5 mt-5">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">

{% for reg in region %}

			<div class="col mb-5">
				<div class="card h-100">
					<!-- Sale badge-->
					<div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">{{ reg.rooms|length }} offre{% if reg.rooms|length > 1 %}s{% endif %}</div>
					<!-- Product image-->
					<img class="card-img-top" src="{{ reg.imageName ? vich_uploader_asset(reg, 'imageFile') : '/images/assets/exo.jpg' }}" alt="Image of {{ reg.name }}"
											  width="400" 
     										  height="300" />
					<!-- Product details-->
					<div class="card-body p-4">
						<div class="text-center">
							<!-- Product name-->
							<h5 class="fw-bolder">{{ reg.name }}</h5>
							{{ reg.presentation }}
						</div>
					</div>
					<!-- Product actions-->
					<div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
						<div class="text-center"><a class="btn btn-outline-dark mt-auto" href="{{ path('frontoffice_client_rooms', {"id":reg.id}) }}">Voir</a>
						<a class="btn btn-success" href="{{ path('region_edit', {"id":reg.id}) }}">Editer</a></div>
					</div>
				</div>
			</div>
				
{% endfor %}
		</div>
	</div>		
</section>
	
<a class="btn btn-secondary" href="{{ path('welcome') }}" role="button">Retour</a>

{% endblock %} {# body #}